<configuration debug="false">

    <appender name="SYSTEM" class="ch.qos.logback.core.FileAppender">
        <file>system.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d %-5level %-50.50logger{60} : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SYSTEM"/>
    </root>

    <logger name="ru.ulmc" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ru.ulmc.school.storm.spouts.ArtemisSpout" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
